<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Цель поездки</title>
    <div th:insert="~{fragments/head :: head}"></div>
</head>
<body>
    <div th:insert="~{fragments/head :: navigation}"></div>
    <div class="container-fluid">
        <main class="col-sm p-3 mt-5">
            <a class="btn btn-secondary active" href="/motive/new">Добавить</a>
            <br/>
            <hr/>

            <table class="table">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Цель поездки</th>
                    <th></th>
                </tr>
                </thead>
                <tbody th:each="motive : ${motives}">
                <tr>
                    <td th:text="${motive.getId()}">id</td>
                    <td th:text="${motive.getTitle()}">surname</td>

                    <td><a th:href="@{/motive/{id}/edit(id=${motive.getId()})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg></a></td>
                </tr>
                </tbody>
            </table>

        </main>
    </div>
</body>
</html>